@charset "UTF-8";

/*
黑體
font-family: 'Noto Sans TC', sans-serif;

明體
font-family: 'Noto Serif TC', serif;

英文襯線
font-family:'Times New Roman', serif;

*/

* {
    position: relative;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    font-size: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
}

/*文字樣式*/

p,span{
    margin: 0;
}

a,
.btn {
    color: #333;
    text-decoration: none;
    border-radius: 0;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a:focus,
button:focus {
    outline: none !important;
}

.font-MT {
    font-family: 'Noto Serif TC', serif;
}

/*圖片樣式*/
.imgSlick{
    font-size: 0;
}

.innerImg {
    width: 100%;
    padding-top: 65%;
}

.innerImg .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    /*background-image: url(../images/cs.svg);*/
}

.infoImg {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


/*fancybox*/
.fancybox-navigation {
    height: 100vh;
}





/*主色系調整區*/
.text-primary{
    color: #546122 !important; 
 }
.bg-primary {
    background-color: #D5D6C6 !important    ;
}

.form-check-input:checked {
    background-color: #AA8755 !important;
    border-color: #AA8755 !important;
}

.btn-primary {
    color: #fff;
    background-color: #AA8755;
    border-color: #AA8755;
}


.btn-primary:hover {
    color: #fff;
    background-color: #AA8755;
    border-color: #AA8755;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #363f11;
    border-color: #363f11;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #AA8755;
    border-color: #AA8755;
}



.slick-prev {
    left: 0px;
    z-index: 10;
}

.slick-next {
    right: 0px;
}

.slick-next,
.slick-prev {
    width: auto;
    height: auto;
}

.slick-next:before {
    content: '\F285';
}

.slick-prev:before {
    content: '\F284';
}

.slick-prev:before,
.slick-next:before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 3rem;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #B58D62;
}


/* page設定 */
section.page{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 5% 0%;
}

section.page .pageBox{
    width: 90%;
    margin: 0 auto;
}

h1.title,h2.subtitle{
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 4px;
    text-align: center;
}

h1.title{
    padding-bottom: 1%;
}

.en{
    font-family: 'Times New Roman', Times, serif !important;
}

h4.percent{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

.content p,.content p span{
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 180%;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: justify;
    color: #3E3A39;
}

.content p span{
    display: block;
}

.imgtxt {
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: #fff;
    font-size: 12px;
    z-index: 3;
}
